<!--The content below is only a placeholder and can be replaced.-->
<h1>{{ title }}</h1>
<nav>
  <a class="button button-primary" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="button button-primary" routerLink="/about" routerLinkActive="active">About Us</a>
  <a class="button button-primary" routerLink="/page-one" routerLinkActive="active">Page one</a>
  
  <a class="button button-primary" routerLink="/student" routerLinkActive="active">Students</a>
  <a class="button button-primary" routerLink="/driver" routerLinkActive="active">Drivers</a>
  <a class="button button-primary" routerLink="/products" routerLinkActive="active">Products</a>

</nav>
<router-outlet style="background-color: grey"></router-outlet>
